body {
  margin: 0;
  font-family: Anton;
}

#page-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  min-height: 500px;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

header .text-logo {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 20%;
  width: 60%;
  margin: 0;
  font-size: 120px;
  color: #fff;
}

header .sub-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 20%;
  width: 60%;
  margin: 0;
  font-size: 32px;
  color: #fff;
}

@media (max-width: 1200px) {
  header .text-logo {
    top: 40%;
    font-size: 80px;
  }
  header .sub-text {
    top: 55%;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  header .text-logo {
    top: 45%;
    font-size: 28px;
  }
  header .sub-text {
    font-size: 14px;
  }
}

.scrolldown {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  display: block;
  height: 42px;
  width: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scrolldown .icon {
  margin: 2px;
  height: 38px;
  width: 38px;
}

.scrolldown:hover {
  color: #888;
  background-color: #fff;
}

#contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  background: #333;
  color: #ccc;
}

#contact .row {
  display: flex;
  flex-direction: row;
}

#contact .section-head {
  display: flex;
  flex-direction: row;
}

#contact .section-head .icon {
  width: 60px;
  height: 60px;
  padding-top: 12px;
  margin-left: 5%;
}

#contact p.lead {
  font-size: 24px;
  margin-left: 20px;
}

#contact .email {
  margin-left: 5%;
  width: 45%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

#contact .contatos {
  margin-right: 5%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#contact .QRContainer {
  padding-top: 2%;
}

#contact .whats-qrcode {
  margin: 5%;
  width: 40%;
  height: auto;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#contact .whats-qrcode:hover {
  margin: 0;
  width: 50%;
}

#contact .contatos p {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0;
  color: #ccc;
}

@media (max-width: 768px) {
  #contact .row {
    flex-direction: column;
  }
  #contact .email {
    margin: 0 5%;
    width: 90%;
  }
  #contact p.lead {
    font-size: 18px;
  }
  #contact .contatos {
    padding-top: 10px;
    margin: 0 5%;
    width: 90%;
    flex-direction: row;
  }
  #contact .contatos p {
    font-size: 14px;
  }
  #contact .QRContainer {
    padding: 0;
    width: 20%;
  }
}

#contact button.enviarEmail {
  font-family: Anton;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  display: relative;
  margin-left: 30%;
  border: none;
  padding: 10px;
  color: #fff;
  background: #000;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#contact button.enviarEmail:hover {
  color: #888;
  background: #fff;
}

#contact button.enviarEmail:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: #555;
  background: #ccc;
}

.customFooter {
  color: #333;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  background-color: #fff;
}

.customFooter a,
.customFooter a:visited {
  color: #ccc;
}

.customFooter a:hover,
.customFooter a:focus {
  color: #fff;
}

.customFooter .copyright {
  margin: 0;
  padding: 0 0 8px 0;
}

.customFooter .row .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.customFooter .social-links {
  padding: 0;
}

.customFooter .social-links .icon {
  width: 40px;
  height: 40px;
  margin: 20px;
  color: #30a2ff;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.customFooter .social-links .icon:hover {
  width: 80px;
  height: 80px;
  margin: 0;
}

.scroll-to-top {
  display: inline-flex;
  height: 48px;
  width: 48px;
  margin-top: -24px;
  color: #888;
  border-radius: 100%;
  background-color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
  color: #000;
  background-color: #888;
}

.scroll-to-top .icon {
  margin: 2px;
  height: 44px;
  width: 44px;
}

.social .btn:first-child {
  margin-right: 30px;
}

.social .btn {
  padding-left: 30px;
  padding-right: 30px;
}

.social .btn i {
  margin-right: 15px;
}
