/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  margin: 0;
  font-family: Anton;
}

#page-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */
#nav-wrap {
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

ul#nav {
  height: 48px;
  width: auto;
  text-align: center;
}

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

/* Links */
ul#nav li a {
  display: inline-block;
  padding: 12px 16px 0px;
  text-decoration: none;
  text-align: left;
  color: #888;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li.current a {
  color: #fff;
  font-weight: bold;
}

ul#nav li a:hover {
  color: #ccc;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  min-height: 500px;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

header .text-logo {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 20%;
  width: 60%;
  margin: 0;
  font-size: 120px;
  color: #fff;
}

@media (max-width: 1200px) {
  header .text-logo {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  header .text-logo {
    font-size: 40px;
  }
}

/* scrolldown link */
header .scrolldown {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  display: block;
  height: 42px;
  width: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .scrolldown .icon {
  margin: 2px;
  height: 38px;
  width: 38px;
}

header .scrolldown:hover {
  color: #888;
  background-color: #fff;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: #333;
  padding: 5%;
  padding-top: 80px;
  overflow: hidden;
}

#about .row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  #about .row {
    flex-direction: column;
  }
}

#about h2 {
  font: 22px/30px;
  color: #fff;
  margin-bottom: 12px;
}

#about p {
  letter-spacing: 1px;
  line-height: 30px;
  color: #ccc;
}

#about .profile-pic {
  align-self: center;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

#about .main-col {
  padding-left: 5%;
}

#about a.links {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#about a.links:hover {
  color: #888;
  background: #fff;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
  background: #fff;
  overflow: hidden;
  padding: 5%;
  padding-top: 80px;
  top: 60px;
}

#resume .row {
  display: flex;
  flex-direction: column;
}

#resume .dev {
  margin-bottom: 48px;
  padding-bottom: 24px;
}

#resume h1 {
  font: 18px/24px 'opensans-regular', sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}

#resume h1 span {
  border-bottom: 3px solid #30a2ff;
  padding-bottom: 6px;
}

#resume .item {
  padding-left: 2%;
}

#resume .info {
  font: 16px/24px;
  color: #888;
  margin-bottom: 18px;
  margin-top: 9px;
}

#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}

#resume .date {
  font: 15px/24px 'opensans-regular', sans-serif;
  margin-top: 6px;
}

.bars {
  width: 96%;
  margin-left: 0;
  text-align: left;
}

.bars .skill {
  margin-top: 36px;
  list-style: none;
}

.bars ul {
  padding-inline-start: 0;
}

.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #888;
  height: 42px;
  border-radius: 0px;
}
.bars li em {
  font: 15px 'opensans-bold', sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: -36px;
}

.bars li span .icon {
  color: #fff;
  padding-top: 3px;
  padding-left: 3px;
  width: 36px;
  height: 36px;
}

.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  background: #333;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 0px;
}

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
  background: #ccc;
  padding: 5%;
  padding-top: 80px;
  top: 60px;
}

#portfolio .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#portfolio h1 {
  font: 15px/24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 48px;
  color: #333;
}

/* Portfolio Content */
#portfolio .columns {
  margin-bottom: 36px;
  margin-right: 36px;
}

.portfolio-item .item-wrap {
  background: #fff;
  overflow: hidden;
  position: relative;
  height: 180px;
  width: 180px;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio-item .item-wrap img {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.portfolio-item .item-wrap a {
  display: block;
  cursor: pointer;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  background: rgba(0, 0, 0, 0.7);
}
.portfolio-item .item-wrap .link-icon {
  display: block;
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 16px;
  text-align: center;

  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}
.portfolio-item .item-wrap img {
  vertical-align: bottom;
}
.portfolio-item .portfolio-item-meta {
  padding: 10px;
}
.portfolio-item .portfolio-item-meta h5 {
  font: 18px 'opensans-bold', sans-serif;
  color: #fff;
  line-height: 16px;
}
.portfolio-item .portfolio-item-meta p {
  font: 14px 'opensans-light', sans-serif;
  color: #c6c7c7;
  margin-bottom: 0;
}

/* on hover */
.portfolio-item:hover .overlay {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}
.portfolio-item:hover .link-icon {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
  background: #333;
  padding: 5%;
  padding-top: 80px;
  color: #ccc;
}

#contact .row {
  display: flex;
  flex-direction: row;
}

#contact .row fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#contact .section-head {
  margin-bottom: 42px;
}

#contact .section-head .icon {
  width: 80px;
  height: 80px;
  padding: 0 12px;
}

#contact p.lead {
  font-size: 24px;
  margin-left: 30px;
}

#contact .row .email {
  width: 60%;
  margin-right: 5%;
}

#contact .row .contatos {
  width: 35%;
}

@media (max-width: 768px) {
  #contact .row {
    flex-direction: column;
  }
  #contact .row .email {
    width: 100%;
    margin: 0;
  }
  #contact .row .contatos {
    width: 100%;
  }
}

#contact a,
#contact a:visited {
  color: #30a2ff;
}

#contact a:hover,
#contact a:focus {
  color: #fff;
}

#contact .row .contatos p {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0 0 16px;
  color: #ccc;
}

#contact .row .contatos .whats-qrcode {
  margin: 5%;
  width: 90%;
  height: auto;
  cursor: pointer;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#contact .row .contatos .whats-qrcode:hover {
  margin: 0;
  width: 100%;
}

#contact .header-col {
  padding-top: 6px;
}

/* contact form */
#contact form {
  margin-bottom: 30px;
}

#contact label {
  font: 15px/24px 'opensans-bold', sans-serif;
  margin: 12px 0;
  color: #fff;
  display: inline-block;
  float: left;
  width: 30%;
}

#contact textarea {
  resize: none;
}

#contact input,
#contact textarea,
#contact select {
  padding: 10px 10px;
  color: #fff;
  background: #000;
  margin: 0 0 16px;
  border: 0;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  width: 60%;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus {
  color: #fff;
  background-color: #30a2ff;
}

#contact button.submit {
  font-family: Anton;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  display: relative;
  margin-left: 30%;
  border: none;
  padding: 10px;
  color: #fff;
  background: #000;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#contact button.submit:hover {
  color: #888;
  background: #fff;
}

#contact span.required {
  color: #30a2ff;
  font-size: 13px;
}
#message-warning,
#message-success {
  display: none;
  background: #0f0f0f;
  padding: 24px 24px;
  margin-bottom: 36px;
  width: 65%;
  margin-left: 26%;
}
#message-warning {
  color: #d72828;
}
#message-success {
  color: #00aa00;
}

#message-warning i,
#message-success i {
  margin-right: 10px;
}
#image-loader {
  display: none;
  position: relative;
  left: 18px;
  top: 17px;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  margin-bottom: 48px;
  color: #333;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer a,
footer a:visited {
  color: #ccc;
}
footer a:hover,
footer a:focus {
  color: #fff;
}

/* copyright */
footer .copyright {
  margin: 0;
  padding: 0 0 10px 0;
}

/* social links */
footer .row .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .social-links {
  padding: 0 0 20px 0;
}

footer .social-links .icon {
  width: 40px;
  height: 40px;
  margin: 20px;
  color: #30a2ff;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

footer .social-links .icon:hover {
  width: 80px;
  height: 80px;
  margin: 0;
}

/* Go To Top Button */
#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -24px;
}
#go-top .scroll-to-top {
  display: block;
  height: 48px;
  width: 48px;
  line-height: 48px;
  color: #000;
  border-radius: 100%;
  background-color: #888;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#go-top .scroll-to-top:hover {
  color: #888;
  background-color: #000;
}

#go-top .scroll-to-top .icon {
  margin: 2px;
  height: 44px;
  width: 44px;
}

.social .btn:first-child {
  margin-right: 30px;
}
.social .btn {
  padding-left: 30px;
  padding-right: 30px;
}
.social .btn i {
  margin-right: 15px;
}
.project-btn {
  background-color: #1abc9c !important;
}
.github-btn {
  background-color: #34495e !important;
}
